body{
				
}
#wrapper{
background-color:white;
width:960px;
margin:0 auto;
}
#title{
color:#ED7C2E;
width: 250px;
float:left;
vertical-align:text-bottom;
font-size:20px;	
}
#links-top{


}
#links-top ul{
list-style:none;		
}
#links-top ul li{
float:left;		
}
.clear{
clear:both;
}
.bottom-line{
width:100%;
height:2px;
background: url(../images/divider.png) repeat-x;
}
#content{
margin-bottom:30px;
}
#content-left {
float:left;
}
#content-left h1{
font-size: 30px;
line-height:32px;
margin: 0 !important;
padding: 0px;
}
#content-left br{
line-height:0;
height:0;
}
#content-main{
width:600px;
text-align:left;
margin-left:100px;
}
#footer-image{
float:right;				
}
#footer-bot{
width:100%;
height:100px;
background: url(../images/footer_bg.png);
}
#form-right{
float:right;
width:340px;
background-color:#7C7C7C;
padding:10px;
}
#form-right input{
width:95%;
}

#contact-content-wrapper{
margin:20px 30px;
}
