<div id="content-left">
	<h1>Just</h1>
	<h1>A Call</h1>
	<h1>Away</h1><br/>
</div>
<div id="content-main">				
	No man is an Iland, intire of it selfe; every man is a peece of the Continent, a part of the maine; if a Clod bee washed away by the Sea, Europe is the lesse, as well as if a Promontorie were, as well as if a Mannor of thy friends or of thine owne were; any mans death diminishes me, because I am involved in Mankinde; And therefore never send to know for whom the bell tolls; It tolls for thee.
</div>
