<div id='contact-content-wrapper'>
<div id="content-left">
	<h1>Just</h1>
	<h1>A Call</h1>
	<h1>Away</h1><br/>
</div>
<div id="form-right">
	<form action='' method='post'>
		<table>
			<tr>
				<td>
					FirstName:
				</td>
				<td>
					LastName:
				</td>
		</tr>
		<tr>
			<td>
		<input type='text' name='firstname'/>
		</td>
		<td>
		<input type='text' name='lastname'/>
		</td>
		</tr>
		<tr>
			<td>
				Email:
			</td>
		</tr>
		<tr>
			<td colspan='2'>
				<input type='text' name='lastname'/>
			</td>
		</tr>
		<tr>
			<td>
				Subject:
			</td>
				
		</tr>
		<tr>
			<td colspan='2'>
				<input type='text' name='lastname'/>
			</td>
		</tr>
		<tr>
			<td>
				Message:
			</td>
		</tr>
		<tr>
			<td colspan='2'>
				<textarea cols="38" rows="20">
				</textarea>
			</td>
		</tr>
		<tr>
			<td>
		<input type='submit' value='send' name='submit'/>
		</td>
		</tr>
		</table>
	</form>				
</div>
<div class="clear"></div>
</div>
