
	<div id="title">
		<h1>MAVENS Inc.</h1>
	</div>

	<div id='links-top'>
		<ul>
			<li id='home'>
				<a href='/'><img src="images/home.png"/></a>
			</li>
			<li id='services'>
				<a href='/services'><img src="images/services.png"/></a>
			</li>
			<li id='portfolio'>
				<a href='/portfolio'><img src="images/portfolio.png"/></a>
			</li>
			<li id='about-us'>
				<a href='/about-us'><img src="images/about_us.png"/></a>
			</li>
			<li id='contact'>
				<a href='/contact'><img src="images/contact.png"/></a>
			</li>	
		</ul>
	<div class="clear"></div>						
	</div><!-- End Links Top -->

